{% load i18n %}
{% autoescape off %}
{% blocktrans with user_name=user.get_username %}To initiate the password reset process for your {{ user_name }} Dashboard da Participação Account,
click the link below:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.{% endblocktrans %}

{% trans "Sincerely" %},
Dashboard da Participação
{% endautoescape %}