{% extends 'components/base.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}

<div class="text-area">
    <h3 class="title">{% trans "Reset password" %}</h3>
    <div class="explanatory-text">
        {% blocktrans %}Forgot your password? Enter your email in the form below and we'll send you instructions for
        creating a new one.{% endblocktrans %}
    </div>
</div>
<form action="{% url 'password_reset' %}" class="recover-pass" method="POST">
    {% csrf_token %}
    <input type="text" id="id_email" type="email" name="email" class="email-input" placeholder="Email" required>
    <button class="button">{% trans "Reset password" %}</button>
</form>

{% endblock content %}