{% extends 'components/base.html' %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
  <h3 class="title">{% trans 'New password' %}</h3>
    {% for field in form %}
    <div class="form-error-container">
      {{ field.errors }}
    </div>
    {% endfor %}

    <form method="POST" class="recover-pass">
      {% csrf_token %}
      <input type="password" id="new_password" name="password" class="password-input" placeholder="{% trans 'New password' %}:" required>
      <input type="password" id="new_password2" name="new_password2" class="password-input" placeholder="{% trans 'Confirm password:' %}" required>
      <button class="button">{% trans 'Set password' %}</button>
    </form>

{% endblock %}